

body{ 
    background-color:#fff;
    margin: 0px !important;
}
.header{
    background-color: rgb(245, 239, 239);
    border-top: 10px solid rgb(13, 75, 13);
}

.logobox{
    width: 20%;
    display: inline-block;
    padding: 20px;
}
.navigationbox{
    width: 70%;
    display: inline-block;
}
.nobullet li {
    display: inline-block;
    margin: 12px 12px 22px 12px;
}
.intro{
    width: 100%;
    height: 550px;
    background: url("../img/intro-bg.jpg") fixed;
    background-size: cover;
    
}
.introword{
    margin: 10px;


}
.introtext{
    width: 100%;
    bottom: 100px;
    position: absolute;
    text-align: right;
    margin: 10px;
}

.logob{
    width: 20%;
    display: inline-block;
    padding: 20px;
}
.section{
    background-color: rgb(224, 217, 217);
}
.describe{
    width: 100%;
    height: 500px;
    background: url("../img/sandwich-\ \(3\).jpg") fixed;
    background-position: 70px;
    background-repeat: no-repeat;
    background-color:rgb(224, 217, 217);
}
.describeword{
    margin: 10px;

}
.describetxt{
    width: 100%;
    height: 15%;
    bottom: 0px;
    position: absolute;
    margin: 10px;
}